<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500572278777-rpvgbofom1a9jhn9365v5v3d2nvsu7kc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500572278777-rpvgbofom1a9jhn9365v5v3d2nvsu7kc</string>
	<key>API_KEY</key>
	<string>AIzaSyC_L44P-tIXSvMRSKmdtVrIqxrkymkbDIU</string>
	<key>GCM_SENDER_ID</key>
	<string>500572278777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KonstantinD.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-8d466</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-8d466.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500572278777:ios:590c379520ab0b0e7ab728</string>
</dict>
</plist>